# Database
MYSQL_ROOT_PASSWORD=YOUR_PASSWORD
MYSQL_DATABASE=YOUR_DB_NAME

# Spring Boot Datasource
DB_URL=jdbc:mysql://expense-tracker-db:3306/YOUR_DB_NAME
DB_USERNAME=YOUR_USERNAME
DB_PASSWORD=YOUR_PASSWORD

# JWT
JWT_SECRET=YOUR_SECRET_KEY

# Server
SERVER_PORT=8090

# Profile
SPRING_PROFILES_ACTIVE=dev

# AI
GEMINI_API_KEY=YOUR_API_KEY